@model IEnumerable<dgPadCmsNew.Models.Taxonomy>

@{
    ViewData["Title"] = "Taxonomies";
}

<h1>Taxonomies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sorting" id="taxonomies">
    <thead>
        <tr class="home">

            <th>
                Name
            </th>
            <th>
                Code
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.TaxonomyId" class="@item.Code">

                <td>
                    @item.Name
                </td>
                <td>
                    @item.Code
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaxonomyId">Edit</a>
                    <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.TaxonomyId">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>
        $("table#taxonomies tbody").sortable({
            items: "tr:not(.home)",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#taxonomies tbody").sortable("serialize");
                let url = "/admin/taxonomies/reorder";

                $.post(url, ids, function () { });
            }
        })
    </script>
}